body{
    margin: 0;
    padding: 0;
    
}
/*    CSS HEAD      */
#cabeca{
    margin: 0;
    padding: 0;
    border-bottom: solid 2px;
}
#head1 img{
    float: left;
    width: 20%;
    background: red;

}
#head2 ul{
        list-style: none;
        text-align: center;
        font-size: 300%;
        padding: 3%;
        margin-top: 5%; 
        font-family: 'Italianno';
        color: red;
}
#head3 img{
    float: right;
    width: 20%;
    
}
/*    CSS MENU      */
#listaMenu ul{
    padding: 0.8%;
    list-style: none;
    text-align: center;
    background: linear-gradient(rgb(114, 114, 241),rgb(198, 198, 223));
}
#listaMenu li{
    padding: 0.5%;
    display: inline;

}
#listaMenu a{
    padding: 0.5%;
    border: 1px solid;
    display: inline;
    color: black;
    background: rgb(255, 142, 76);


}
/*    CSS BODY      */
#bodyCarousel{
    background: white;
    margin: 0;

}
.sizeCarousel {
    width: 500px;
    margin: 3%;
    opacity: 0.7;
}
/*    CSS FOOT      */
#foot{
    border-top: 2px solid;
    text-align: center;

}
#foot ul{
    margin-top: 3%; 
    list-style: none;
    border-top: 2px solid;
}
#foot h2{

    margin-top: 2%; 
}
#foot li{

}

/*       Responsivo       */
@media only screen and (max-width: 1200px) {
    #head2 ul{

        font-size: 200%;
    }
}
@media only screen and (max-width: 800px) {
    #head2 ul{

        font-size: 150%;
    }
}
@media only screen and (max-width: 600px) {
    #head2 ul{

        font-size: 100%;
    }
}
